module.exports = {
	"listen": {
		"hostname": "0.0.0.0",
		"port": 4321
	},
	"proxy": {
		cacheDir: __dirname + '/cache',
		repos: [
			{
				prefix: '/foo', // incomming prefix to match on
				options: {
					host: 'example.com',
					port: 80,
					path: '/bar', // path on origin that this prefix should look under
				}
			}
		],
	}
};

// vim: ft=javascript
