module.exports = {
	"listen": {
		"hostname": "0.0.0.0",
		"port": 4321
	},
	"proxy": {
		cacheDir: __dirname + '/cache',
		repos: [
			/* Generic Repo */
			{
				prefix: '/foo', // incomming prefix to match on
				upstream: {
					host: 'example.com',
					port: 80,
					path: '/bar', // path on origin that this prefix should look under
				}
			},	      
			//*/
			/* Ubuntu (Apt) repo */
			{
				prefix: '/ubuntu',
				upstream: {
					host: 'archive.ubuntu.com',
					// It's better to choose a host close to you, e.g.:
					// host: 'au.archive.ubuntu.com',
					// host: 'us.archive.ubuntu.com',
					// Find more here: https://launchpad.net/ubuntu/+archivemirrors
					port: 80,
					path: '/ubuntu',
				}
			},
			//*/
			/* CentOS (Yum) repo */
			{
				prefix: '/centos',
				upstream: {
					host: 'example.com',
					port: 80,
					path: '/path/to/centos',
				}
			},
			//*/
			/* Dummy (debugging) repo */
			{
				prefix: '/dummy',
				type: 'Dummy',
				paths: {
					foo: {},
					bar: {
						baz: {}
					},
				}
			},
			//*/
		],
	}
};

// vim: ft=javascript
